<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=640,target-densitydpi=high-dpi,user-scalable=no" />
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../dist/css/css_all.css">
</head>

<body id="App">
    <router-view></router-view>
    <script src="../dist/js/require.js"></script>
    <script src="../dist/js/require.config.js"></script>
    <script src="../dist/js/lib.js"></script>
    <script type="text/javascript">
    require(['App'], function(App) {});
    </script>
</body>

</html>
