<!-- 首页 -->
<div class="menuHeader clearfix">
    <div class="addressM clearfix">
        <a href="javascript:;" class="rh_select_btn" v-on:click="showMenu(true)"></a>
        <div class="address">
            <img src="images/icon_location.png" class="vMiddle" />
            <span class="vMiddle">{{cityName}}</span>
            <img src="images/icon_loading.png" class="vMiddle" />
        </div>
        <div class="user">
            <a href="javascript:void(0);"><img src="images/icon_user.png" class="vMiddle" /></a>
        </div>
        <!-- 这里点击事件仅供展示效果 -->
        <div class="location">
            <span v-on:click="outRangeOpen">{{adds}}<img src="images/icon_arrowDown18.png" class="vMiddle"/></span>
        </div>
    </div>
    <div class="nav clearfix" id="scrollerNav">
        <div id="scroller" class="scroller" v-bind:style="{transform: translate}">
            <ul>
                <li v-for="(i, menu) in menus" >
                	<a v-link="{ path: i == 0 ? '/' : '/items/'+menu.id}" v-bind:class="[i==index ? 'active' :'']" v-on:click="nav(i, $event)"><i class="rotate45"></i>{{menu.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="rh_select" v-show="isShow" v-on:click="showMenu(false)">
    <ul class="clearfix">
        <li v-for="(i, menu) in menus" v-on:click.stop.prevent="goTo(i == 0 ? '/' : '/items/'+menu.id, i, $event)">{{menu.name}}</li>
    </ul>
</div>
<router-view></router-view>
<div class="rh_dragRefresh">↑ 继续拖动，查看下一个分类</div>
