<div class="homePage">
    <!--banner-->
    <div class="rh_banner">
        <a href="javascript:;">
            <img src="{{branner}}" height="300" width="640" />
        </a>
    </div>
    <div class="rh_nav">
        <ul class="clearfix">
            <li v-for="icon in icons">
                <a href="javascript:;">
                    <img src="{{icon.src}}" height="80" width="80" alt="home">
                    <p>{{icon.name}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="rh_content">
    <div class="rh_con_new" v-for="menu in menuTypes">
        <h3>{{menu.name}}</h3>
        <ul class="clearfix">
            <!--li名字包含hot时，图标‘火’显示，当名字包含limit时，图标’限‘显示-->
            <li class="float_l hot limit" v-for="item in menu.items">
                <img src="images/shop1.png" height="212" width="305" alt="">
                <div class="rh_content_text clearfix">
                    <span>{{item.title}}</span>
                    <i></i>
                    <em></em>
                </div>
                <div class="rh_content_money clearfix">
                    <span>￥{{item.price}}</span>
                    <i>￥{{item.price}}</i>
                </div>
                <a class="rh_content_plus" href="javascript:;"></a>
            </li>
        </ul>
        <div class="more"><a href="javascript:;">更多></a></div>
    </div>
</div>
